@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top : 35px">
    <div class="col-12">
        <div class="section_title">
            <h2>НОВОСТИ</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
<div style="margin-top : 35px">
                <div class="box-post box-content posts blog-list-view">
                                                <div class="post-item xs-100 sm-50 md-33 lg-25 xl-20 ">
                        <div class="post-wrapper">
                            <div class="post-item-details" style="text-align:center">
                                
                                
								<div class="descr-block">
									<h2><a href="https://avto-instrument.ru/index.php?route=journal2/blog/post&amp;journal_blog_post_id=790">Отвёртка комбинированная 175мм (4 сменные насадки) <b>АвтоDело</b></a></h2>
																			
																												<div class="post-text"><span><p>&nbsp;</p>
<table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
        <tr bgcolor="#fefefe">
            <td style="text-align: center;" width="300"><img src="http://www.avtokluch.ru/pics/39459_2.gif" width="270" height="189" alt=""></td>
            <td style="text-align: center;" width="300"><img src="http://www.avtokluch.ru/pics/39459_1.gif" width="233" height="300" alt=""></td>
        </tr>
        <tr bgcolor="#fefefe">
            <td colspan="2" style="text-align: center;" align="center">
            <p><span style="font-size: larger;"><b>10718</b></span></p>
            </td>
        </tr>
    </tbody>
</table>
<table width="600" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
        <tr bgcolor="#fefefe">
            <td>
            <p><span style="font-size: larger;"><b>Производитель:</b> АвтоDело</span></p>
            <p><span style="font-size: larger;"><b>Артикул производителя:</b> 39459</span></p>
            <p><span style="font-size: larger;"><b>Описание:</b></span></p>
            <p><span style="font-size: larger;">Универсальная комбинированная отвёртка с двумя переставными двусторонними наконечниками. Наконечники изготовлены из инструментальной стали S2, закалены и защищены от коррозии методом фосфатирования. Имеют рабочие части с крестовыми профилями PH1, PH2 и шлицевыми SL5, SL6. Стержень отвёртки изготовлен из хром-ванадиевой инструментальной стали и защищён от коррозии хромированием. Отвёртка снабжена двухкомпонентной анатомической рукояткой с резиновым противоскользящим покрытием.</span></p>
            </td>
        </tr>
    </tbody>
</table>
<!-- avtodelo --></span></div>
																		<div class="post-button">
										<a class="post-view-more button" href="https://avto-instrument.ru/index.php?route=journal2/blog/post&amp;journal_blog_post_id=790"><i class="post-button-left-icon"></i>Читать далее<i class="post-button-right-icon"></i></a>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                                    </div>
    </div>
        </div>
    </div>
<div class="related_product_section mt-100">
    <div class="row">
        <div class="col-12">
            <div class="section_title">
                <h2>НОВИНКИ</h2>
            </div>
        </div>
    </div>
    <center class="autoplay" style="margin-top: 15px">
        <div style="width:100%">
            <a href="#"><img src="~/assets/img/product/home2/39310-228x228.gif" alt=""></a>
            <div style="text-align: center">
                Головка Торцевая 12-гранная (46312)
            </div>
        </div>
        <div style="width:100%">
            <a href="#"><img src="~/assets/img/product/home2/39310-228x228.gif" alt=""></a>
                                <div style="text-align: center">
                                    Головка Торцевая 12-гранная (11111)
                                </div>
        </div>
        <div style="width:100%"><a href="#"><img src="~/assets/img/product/home2/39310-228x228.gif" alt=""></a>
                                <div style="text-align: center">
                                    Головка Торцевая 12-гранная (22222)
                                </div></div>
        <div style="width:100%"><a href="#"><img src="~/assets/img/product/home2/39310-228x228.gif" alt=""></a>
                                <div style="text-align: center">
                                    Головка Торцевая 12-гранная (33333)
                                </div></div>
        <div style="width:100%"><a href="#"><img src="~/assets/img/product/home2/39310-228x228.gif" alt=""></a>
                                <div style="text-align: center">
                                    Головка Торцевая 12-гранная (44444)
                                </div></div>
        <div style="width:100%"><a href="#"><img src="~/assets/img/product/home2/39310-228x228.gif" alt=""></a>
                                <div style="text-align: center">
                                    Головка Торцевая 12-гранная (55555)
                                </div></div>
    </center>

   
    @*<div class="row related_product_guttters owl-carousel mt-60">
            <div class="col-lg-3">
                <div class="single__product">
                    <div class="produc_thumb">
                        <a href="#"><img src="assets/img/product/home2/4.png" alt=""></a>
                    </div>
                    <div class="product_hover">
                        <div class="product_action">
                            <a href="#" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                            <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="#" title="Compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                        </div>
                        <div class="product__desc">
                            <h3><a href="product-details.html">Soffer Pro x33</a></h3>
                            <div class="price_amount">
                                <span class="current_price">$2999.99</span>
                                <span class="discount_price">-08%</span>
                                <span class="old_price">$3700.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single__product">
                    <div class="produc_thumb">
                        <a href="#"><img src="assets/img/product/home2/5.png" alt=""></a>
                    </div>
                    <div class="product_hover">
                        <div class="product_action">
                            <a href="#" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                            <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="#" title="Compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                        </div>
                        <div class="product__desc">
                            <h3><a href="product-details.html">Soffer Pro x33</a></h3>
                            <div class="price_amount">
                                <span class="current_price">$2999.99</span>
                                <span class="discount_price">-08%</span>
                                <span class="old_price">$3700.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single__product">
                    <div class="produc_thumb">
                        <a href="#"><img src="assets/img/product/home2/6.png" alt=""></a>
                    </div>
                    <div class="product_hover">
                        <div class="product_action">
                            <a href="#" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                            <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="#" title="Compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                        </div>
                        <div class="product__desc">
                            <h3><a href="product-details.html">Soffer Pro x33</a></h3>
                            <div class="price_amount">
                                <span class="current_price">$2999.99</span>
                                <span class="discount_price">-08%</span>
                                <span class="old_price">$3700.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single__product">
                    <div class="produc_thumb">
                        <a href="#"><img src="assets/img/product/home2/7.png" alt=""></a>
                    </div>
                    <div class="product_hover">
                        <div class="product_action">
                            <a href="#" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                            <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="#" title="Compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                        </div>
                        <div class="product__desc">
                            <h3><a href="product-details.html">Soffer Pro x33</a></h3>
                            <div class="price_amount">
                                <span class="current_price">$2999.99</span>
                                <span class="discount_price">-08%</span>
                                <span class="old_price">$3700.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single__product">
                    <div class="produc_thumb">
                        <a href="#"><img src="assets/img/product/home2/8.png" alt=""></a>
                    </div>
                    <div class="product_hover">
                        <div class="product_action">
                            <a href="#" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                            <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="#" title="Compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                        </div>
                        <div class="product__desc">
                            <h3><a href="product-details.html">Soffer Pro x33</a></h3>
                            <div class="price_amount">
                                <span class="current_price">$2999.99</span>
                                <span class="discount_price">-08%</span>
                                <span class="old_price">$3700.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single__product">
                    <div class="produc_thumb">
                        <a href="#"><img src="assets/img/product/home2/9.png" alt=""></a>
                    </div>
                    <div class="product_hover">
                        <div class="product_action">
                            <a href="#" title="Add To Cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                            <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="#" title="Compare"><i class="zmdi zmdi-refresh-alt"></i></a>
                        </div>
                        <div class="product__desc">
                            <h3><a href="product-details.html">Soffer Pro x33</a></h3>
                            <div class="price_amount">
                                <span class="current_price">$2999.99</span>
                                <span class="discount_price">-08%</span>
                                <span class="old_price">$3700.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>