
@{
    ViewBag.Title = "Product";
}

<link rel="stylesheet" href="~/Content/journal.css" />
<link rel="stylesheet" href="https://avtodelo.lv/catalog/view/theme/journal2/css/product.css?j2v=2.14" />
<link rel="stylesheet" href="/assets/css/style.css">
<script src="/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
<div class="extended-container">
    <div id="container" class="container j-container">
        <div class="row">
            <div id="content" class="product-page-content" itemscope="" itemtype="http://schema.org/Product">

                <div class="row product-info split-50-50">
                    <div class="left">
                        <div class="breadcrumb-block">
                            <ul class="bordertop">
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="https://avtodelo.lv/" itemprop="url"><span itemprop="title">Главная</span></a>
                                </li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="https://avtodelo.lv/sockets-and-accessories/" itemprop="url"><span itemprop="title">Головки торцевые и принадлежности</span></a>
                                </li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="https://avtodelo.lv/sockets-and-accessories/12/" itemprop="url"><span itemprop="title">1|2 "</span></a>
                                </li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                    <a href="https://avtodelo.lv/sockets-and-accessories/12/12-head-profile-super/" itemprop="url"><span itemprop="title">1|2 головки с профилем "Супер"</span></a>
                                </li>
                                <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"><span itemprop="title">Наборы автомобильного инструмента</span></li>
                            </ul>
                        </div>
                        <div class="image">
                            <a href="https://avtodelo.lv/image/cache/catalog/39801-500x500.gif" title="Наборы автомобильного инструмента"><img src="https://avtodelo.lv/image/cache/catalog/39801-300x300.gif" title="Наборы автомобильного инструмента" alt="Наборы автомобильного инструмента" id="image" data-largeimg="https://avtodelo.lv/image/cache/catalog/39801-500x500.gif" itemprop="image"></a>
                        </div>
                        <div class="gallery-text"><span></span></div>








                        <div class="image-gallery" style="display: none !important;">
                            <a href="https://avtodelo.lv/image/cache/catalog/39801-500x500.gif" data-original="https://avtodelo.lv/image/cache/catalog/39801-500x500.gif" title="Наборы автомобильного инструмента" class="swipebox"><img src="https://avtodelo.lv/image/cache/catalog/39801-300x300.gif" title="Наборы автомобильного инструмента" alt="Наборы автомобильного инструмента"></a>
                        </div>
                        <meta itemprop="description" content="">

                    </div>
                    <div class="right">
                        <div class="heading-block" style="height: 86px;">
                            <h1 class="heading-title" itemprop="name">Наборы автомобильного инструмента</h1>
                        </div>

                        <script>
                            jQuery('.option-id-15').insertAfter('.breadcrumb-block');
                        </script>


                        <div class="descr-block">
                            • Комплектация набора оптимизирована для применения в автомобиле.
                            <br>• Пожизненная гарантия( до полного физического износа).
                            <br>• Набор укомплектован головками торцевыми и ключами с присоединительным квадратом 1/4" и 1/2".
                            <br>• Торцевые головки с рабочим профилем Super Lock для надёжного захвата крепежа, особенно деформированного.
                            <br>• В комплектации набора использованы комбинированные ключи повышенной точности, изготовленные методом холодной штамповки.
                            <br>• Инструмент закалён до твёрдости не менее 39 HRC, износостойкий, пригоден для долговременного использования при максимальных нагрузках.
                            <br>• Упаковка - двухцветный пластиковый кейс с металлическими замками и петлями с металлическими осями.
                        </div>
                        <script>
                            $(".heading-block").css({ 'height': ($(".breadcrumb-block").height() + 'px') })
                        </script>
                        <div >
                            <table class="">

                                <thead>
                                    <tr>
                                        <th >Код товара:</th>
                                        <th>Кол-во предметов</th>
                                        <th>Вес (кг)</th>
                                        <th>Упаковка (шт)</th>
                                        <th>Вес:</th>

                                        <th>Кол-во:</th>
                                        <th>Цена</th>


                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="borderbotleft">39801</td>

                                        <td class="text-left">101</td>
                                        <td class="text-left">8,300</td>
                                        <td class="text-left">1/2</td>
                                        <td>8,50 кг</td>

                                        <td><input id="qnt-1486" value="1" type="text"></td>
                                        <td>
                                            197,36€
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        @*<style>
                            .product-outstock > span {
                                background-position: -100% 0;
                            }

                            .product-instock > span, .product-outstock > span {
                                background-image: url("/image/icons_stock.png");
                                background-position: 0 0;
                                background-size: 200% auto;
                                display: inline-block;
                                height: 1em;
                                margin: auto;
                                padding: 0;
                                width: 1em;
                            }

                            .items td.art {
                                border: 2px solid #aaa !important;
                                border-radius: 1em 1em 0;
                                font-weight: bold;
                                width: 5em;
                                font-size: 1.2em;
                                padding: .2em 0;
                            }

                            .items td {
                                border-bottom: 2px solid #aaa;
                                padding: 0.4em 0.5em;
                            }

                            .items th {
                                font-weight: bold;
                                color: #f60;
                                font-size: 1em;
                                padding-bottom: .5em;
                            }

                            .items td {
                                text-align: center;
                            }
                        </style>*@
                    </div>
                </div><div class="product-tabs">

                    <ul id="tabs" class="nav nav-tabs htabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab">Описание</a></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="tab-pane tab-content active" id="tab-description"></div>
                    </div>
                </div>

         
            </div>
        </div>
    </div>
</div>
